body {
  background-color: #eeeeee;
  color: rgba(0, 0, 0, 0.56);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.card {
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.56);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.chords {
  background-color: #0779c5;
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
  padding: 20px;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.chords:hover {
  background-color: #5ba8f8;
}
.chords:active {
  background-color: #004e94;
}

.chords-cont {
  display: flex;
  /* background-color: #e0e0e0; */
  padding: 0px 10px 0 0px;
  flex-wrap: wrap;
}

.chords-cont-cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chords-title-cont {
  display: flex;
  flex-direction: row;
}

.function-cont {
  padding: 20px;
  background-color: gainsboro;
}

.harmonic-function-title {
  font-size: 1.5em;
}

.header {
  background-color: #0779c5;
  margin-top: 0px;
  font-size: 1.2em;
  padding: 10px;
  color: rgba(255, 255, 255, 0.88);
  margin-bottom: 10px;
  cursor: pointer;
}

.header-text {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.88);
}

html {
  padding: 0px;
}

.major button {
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  background-color: antiquewhite;
}

.options {
  display: flex;
}
.question {
  font-size: 1.1em;
  margin-left: 4px;
  font-weight: 900;
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.56);
}

.scale {
  margin-left: 10px;
}

.selected-chords {
  background-color: beige;
  color: blueviolet;
  text-align: center;
  font-size: 3em;
  padding: 30px;
  border-radius: 3px;
}

.selected-chords:hover {
  background-color: darkmagenta;
  color: beige;
}

.selected-chords-cont {
  display: flex;
  background-color: rgb(106, 10, 100);
  padding: 10px;
}

.title-cont {
  display: flex;
  flex-direction: row;
}
